<div class="formulario">

  <h2>Registrar movimiento</h2>

  <form (ngSubmit)="guardar()">

    <div class="campo">
      <label for="concepto">Concepto</label>

      <input
        type="text"
        id="concepto"
        name="concepto"
        [(ngModel)]="concepto"
        placeholder="Ejemplo: Compra de alimentos"
        required
      />
    </div>

    <div class="campo">
      <label for="monto">Monto</label>

      <input
        type="number"
        id="monto"
        name="monto"
        [(ngModel)]="monto"
        min="0"
        step="0.01"
        required
      />
    </div>

    <div class="campo">
      <label for="tipo">Tipo de movimiento</label>

      <select
        id="tipo"
        name="tipo"
        [(ngModel)]="tipo"
        required
      >
        <option value="gasto">Gasto</option>
        <option value="ingreso">Ingreso</option>
      </select>
    </div>

    <button type="submit">
      Guardar movimiento
    </button>

  </form>

</div>
